### Rust ###
/target/
Cargo.lock

# Backup files
**/*.rs.bk

### Logs ###
*.log

### Environment Variables ###
.env

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Windows ###
Thumbs.db

### Misc ###
*.tmp
*.swp
*.out
*.exe